body {
    background-color: rgb(4, 96, 157);
    color : rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.tab {
    display: flex;
    color:black;
}

.container {
    background-color: white;
    border-radius: 1.5%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding-bottom: 2%;
    padding-top: 0.2%;
    padding-left: 5%;
    padding-right: 5%;
    width: 80%;
    display: inline-block;
}

th {
    margin: 0px;
}


h3 {
    color: black;
    text-align: center;
}

.link {
    color: rgb(255, 255, 255);
    background-color: grey;
    height: 20px;
    padding: 5%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-decoration: none;
    border-radius: 10%;
    margin-right: 2%;
    padding-bottom: 5%;
    margin-top: 5%;
}

a {
    text-decoration: none;
    color:rgb(100, 90, 90);
    margin : 2%;
    padding : 2px;
    border-radius:5%;
}

.nav {
    left: 20%;
}

.nav a{
    text-decoration: none;
    padding: 0px;
    height: 20px;
    margin-bottom: 10%;
    color : white;
    background-color: grey;
    padding: 3%;
}

input {
    height: 20px;
    width: 50%;
}

.max{
    margin-left: -16%;
    bottom: 20%;
    height : 100px;
    left: 50px;
    margin-top: 5%;
    margin-left: 1.5%;
    height: 20%;
}

.max p {
    color:rgb(100, 90, 90);
}

.text {
    border-radius: 7%;
}

.button {
    background-color: grey;
    color: white;
    border: 0px;
    border-radius: 10%;
    padding: 1.5%;
    margin-top: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.param {
    display: block;
    margin-top: 1%;
}

.select{
    background-color: gray;
    border-radius: 8%;
    color : white;
}

.commentaire {
    padding-bottom: 10%;
}

.button-ajouter {
    font-size: large;
    background-color: grey;
    color: white;
    border: 0px;
    border-radius: 4%;
    padding: 1.5%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-bottom: 3%;
    text-align: center;
}

.ajouter {
    background-color: grey;
    color: white;
    padding: 3%;
    bottom: 3%;
    display: block;
    margin-top: 20%;
    margin-right: 2%;
    width: 80%;
}

h2 {
    color : white;
}

h1 {
    color : white;
}
